services:
  db:
    image: mysql:8.1
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: restdb
      MYSQL_USER: restadmin
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -uroot -proot --silent" ]
      interval: 5s
      timeout: 3s
      retries: 30

  adminer:
    image: adminer:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8081:8080"

  beer-store:
    build:
      context: ./beer-store
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - ./beer-store:/app
      - ~/.m2:/root/.m2
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/restdb
      - SPRING_DATASOURCE_USERNAME=restadmin
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 5s
      timeout: 3s
      retries: 20

  beer-client-resttemplate:
    build:
      context: ./beer-client-resttemplate
    ports:
      - "8082:8082"
      - "5003:5005"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - BEER_API_BASE_URL=http://beer-store:8080
    volumes:
      - ./beer-client-resttemplate:/app
      - ~/.m2:/root/.m2
    depends_on:
      beer-store:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8082/actuator/health" ]
      interval: 5s
      timeout: 3s
      retries: 20

  beer-client-restclient:
    build:
      context: ./beer-client-restclient
    ports:
      - "8083:8083"
      - "5004:5005"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - BEER_API_BASE_URL=http://beer-store:8080
    volumes:
      - ./beer-client-restclient:/app
      - ~/.m2:/root/.m2
    depends_on:
      beer-store:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8083/actuator/health" ]
      interval: 5s
      timeout: 3s
      retries: 20

  beer-client-httpexchange:
    build:
      context: ./beer-client-httpexchange
    ports:
      - "8084:8084"
      - "5085:5085"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - BEER_API_BASE_URL=http://beer-store:8080
    volumes:
      - ./beer-client-httpexchange:/app
      - ~/.m2:/root/.m2
    depends_on:
      beer-store:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8084/actuator/health" ]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  mysql_data:
  m2: