spring:
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  docker:
    compose:
      enabled: false

beer-store:
  base-url: ${BEER_API_BASE_URL:http://localhost:8080}

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    org.springframework.web.client.RestClient: DEBUG
    org.springframework.http.converter.json: DEBUG